.leaflet-container {
  background: #FFF;
}

img {
  max-width: 100%; 
  width: 100%; 
  height: auto
}

footer {
  text-align: center;
  position:absolute;
  bottom:0;
  width:100%;
  height:50px; /* Height of the footer */
  padding: 20px;
  z-index: 1000;
}
